# Combining & Exporting Data

## Table of Contents

#### 1. Importing Libraries
#### 2. Importing Data
#### 3. Checking Data
#### 4. Merging Data - (orders_products_combined & products_cleaned) --> orders_products_merged
#### 5. Exporting Data

# 01. Importing libraries

In [39]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [41]:
path = r'C:\Users\16307\Desktop\Tasks - DA Immersion\Instacart Basket Analysis'

In [42]:
# Import orders_products_combined dataframe

df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [43]:
# Import products_cleaned dataframe

df_products_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = 0)

# 03. Checking Data

In [44]:
# Check the shape

orders_products_combined.shape

(32434489, 10)

In [45]:
# Check the shape

df_products_cleaned.shape

(49672, 5)

In [46]:
# Check the output

orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [47]:
# Check the output

df_products_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

# 04. Merging Data

In [62]:
# Create a new merged dataframe using 'product_id' column as its key

df_ords_prods_merge = orders_products_combined.merge(df_products_cleaned, on = 'product_id')

In [68]:
# Check the output

df_ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2539329,1,1,2,8,NaN,14084,2,0,both,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,1,2,8,NaN,12427,3,0,both,Original Beef Jerky,23,19,4.4
3,2539329,1,1,2,8,NaN,26088,4,0,both,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,1,2,8,NaN,26405,5,0,both,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

In [76]:
# Check the shape

df_ords_prods_merge.shape

(32404859, 14)

In [72]:
# Confirm the results of the merge using the merge flag

df_ords_prods_merge['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

# 05. Exporting Data

In [78]:
# Export data to pkl

df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))